{% block rating_widget %}
	<div class="acidjs-rating-stars">
	                
	    <input class="center-block" type="radio" name="feedback[rating]" id="group-1-0" value="5" /><label for="group-1-0"></label>
	    <input class="center-block" type="radio" name="feedback[rating]" id="group-1-1" value="4" /><label for="group-1-1"></label>
	    <input class="center-block" type="radio" name="feedback[rating]" id="group-1-2" value="3" /><label for="group-1-2"></label>
	    <input class="center-block" type="radio" name="feedback[rating]" id="group-1-3" value="2" /><label for="group-1-3"></label>
	    <input class="center-block" type="radio" name="feedback[rating]" id="group-1-4"  value="1" /><label for="group-1-4"></label>
	                            
	</div>
{% endblock %}