{% extends 'base.html.twig' %}

{% block body %}

    <div class="error-404">
        <div class="title">
            403
        </div>
        <div class="text">
            O ne! Šis puslapis nepasiekiamas!
        </div>
        <div class="text-back-to-page">
            <a href="{{ path('homepage') }}">Pabandykite grįžti į pradžią!</a>
        </div>
    </div>
{% endblock %}
