/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/.idea/
/web/bundles/
/web/css
/web/js
/web/fonts
/web/images
/node_modules
.env
/bower_components/
*.php~
phpunit.xml.dist
.idea
/web/uploads/*
!web/uploads/.gitkeep
/web/media/cache/*
!web/media/cache/.gitkeep