<div class="container text-center" style="padding: 20px;">
    <span style="color: #7f7f7f; font-size: 30px; font-weight: bold;">Trainer</span><span style="color: #56c6c6; font-size: 30px; font-weight: bold;">Hub</span>
    <br><br>
    <span style="font-size: 13px;">
        &copy <script type="text/javascript"> document.write(new Date().getFullYear()); </script>, TrainerHub. Visos teisės saugomos.
    </span>
</div>
