{% form_theme trainingForm 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(trainingForm, {'attr' : {'novalidate' : 'novalidate'}}) }}

    <div class="container">

        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        Nauja treniruotė
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_rest(trainingForm) }}
                    <div class="form-group">
                        <input type="submit" value="Sukurti" class="form-control btn btn-login"/>
                    </div>
                    {{ form_end(trainingForm) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>
        </div>
    </div>

{% endblock %}
