{% form_theme trainingForm 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(trainingForm, {'attr' : {'novalidate' : 'novalidate'}})}}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6">
                                Nauja treniruotė
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                   {{ form_rest(trainingForm) }}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" value="Įkelti" class="form-control btn btn-register"/>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(trainingForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
